.form {
	box-sizing: border-box;
	margin: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	position: relative;
}

.formImput {
	border: 1px solid sienna;
	border-radius: 0.2rem;
	color: black;
	outline: none;
	padding: 0.9rem;
}

.form__input:hover {
	border-color: rgb(59, 32, 32);
}

.form__input:focus {
	border-color: rgb(106, 33, 33);
}

.formLabel {
	color: rgb(21, 19, 19);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
	top: -0.5rem;
	font-size: 0.8rem;
	left: 0.8rem;
}

.button {
	font-size: 0.8rem;
	justify-content: center;
	background-color: white;
}
